{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

  <div class="space"></div> <!-- 40px Vertical Spacing -->

	<div class="container">
		<div class="col-md-6 col-md-offset-3 auth-box">
		  <div class="row">
		    <div class="space"></div> <!-- 40px Vertical Spacing -->
		        <div class="text-center">
    				<h1>{% trans "Change Password" %}</h1>
    			</div>

			    <form method="POST" action="{% url 'account_change_password' %}" class="password_change form-padding">
			        {% csrf_token %}
			        {{ form | crispy }}
			        <button type="submit" class="btn btn-block btn-lg btn-dark" name="action">{% trans "Change Password" %}</button>
			    </form>
		  	</div>
		</div>
	</div>

{% endblock %}
