{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

	<div class="space"></div> <!-- 40px Vertical Spacing -->

	<div class="container">
		<div class="col-md-6 col-md-offset-3 auth-box">
		  <div class="row">
		  	<div class="text-center">
			<h1>{% trans "Sign Up" %}</h1>

			<p>{% blocktrans %}Already have an account? <br/>Then please <a href="{{ login_url }}" style="text-decoration:underline;">sign in</a>.{% endblocktrans %}</p>

                {% load socialaccount %}
                {% providers_media_js %}
                <div class="form-padding">
                  <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-block btn-social btn-facebook">
                    <span class="fa fa-facebook"></span> Sign up with Facebook
                  </a>
                  <a href="{% provider_login_url "twitter" method="js_sdk" %}" class="btn btn-block btn-social btn-twitter">
                    <span class="fa fa-twitter"></span> Sign up with Twitter
                  </a>
				</div>
                <h4 class="text-center">{% trans 'or' %}</h4>
            </div>

            <br/>

			<form class="signup form-padding" id="signup_form" method="post" action="{% url 'account_signup' %}">
			  {% csrf_token %}
			  {{ form | crispy }}
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			  {% endif %}
			  <button type="submit" class="btn btn-block btn-dark">{% trans "Sign Up" %} &raquo;</button>
			</form>		    
		  </div>
		</div>
	</div>
<div class="space"></div> <!-- 40px Vertical Spacing -->
{% endblock %}
