/* Font imports */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800);

body {
    font-family: 'Raleway', Arial, sans-serif;
    color: #666;
    background-color: #eee;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: 0;
    height: 100%;
    padding: 0;
    margin-top: 60px;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}

h4 {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover, a:focus {
    color: #82368C;
    text-decoration: none;
}

.space { 
    padding-top: 40px 
}

.alert-success {
    color: #FFF;
    background-color: #82368C;
    border-color: #82368C;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0px;
}

/***************************
******** Navbar ********
***************************/

.navbar-header {
    float: none;
    padding: 5px 0px;
}

.navbar-toggle {
    display: block;
}

.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}

.navbar-collapse.collapse {
    display: none!important;
}

.navbar-nav {
    float: none!important;
    margin: 0;
}

.navbar-nav>li {
    float: none;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    min-height: 50px;
    margin-bottom: 0 !important;
    border-bottom: 1px solid #82368C !important;
}

.navbar-default {
    background-color: #FFFFFF;
}

.navbar-default .navbar-toggle {
    border: none !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-brand {
    padding: 5px 15px;
}

.navbar-brand > img {
    display: inline-block;
}

.navbar-collapse.collapse.in {display: block !important; }

.navbar {
    min-height: 50px;
    margin-bottom: 0 !important;
    border-bottom: 1px solid #82368C !important;
}

.logo {
    max-height: 100%;
}

/***************************
******** Timeline ********
***************************/
.timeline {
    background-color: #ffffff;
    margin: 20px 0 40px 0;
    padding: 20px 0;
}

.timeline-image {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.timeline-image img {
    min-width: 100%;
    min-height: 100%;
}

.pagination li > span, a{
    color: #82368C;
    font-family: 'Raleway', Arial, sans-serif;
}

.image-max {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/***************************
******** Photo Detail ********
***************************/

.photo {
    background-color: #ffffff;
    padding: 20px 0;
}

.photo-image {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.photo-image img {
    min-width: 100%;
    min-height: 100%;
}

.description {
    border-top: 1px solid #82368C;
    border-bottom: 1px solid #82368C;
    padding: 20px;
    margin: 10px 0px 10px 0px;
}

.comment-section {
    border: 1px solid #82368C;
    padding: 20px;
    background-color: #82368C;
    color: #ffffff;
}

.comment {
    margin: 20px;
}

@media only screen and (min-width: 768px) {
    .image-max {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

/***************************
******** Buttons ********
***************************/

.btn { 
    margin-bottom: 20px 
}

.btn-dark {
    color: #fff !important;
    background-color: #494949;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2px;
}

.btn-dark:hover {
    color: #fff !important;
    background-color: #5F5F5F;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}

.btn-purple {
    color: #fff !important;
    background-color: #82368C;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2px;
}

.btn-purple:hover {
    color: #fff !important;
    background-color: #82368C;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}

.btn-gray {
    color: #fff !important;
    background-color: #bfc2c5;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2px;
}

.btn-gray:hover {
    color: #fff !important;
    background-color: #B8B8B8;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}

.btn-red {
    color: #fff !important;
    background-color: #ea6060;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2px;
}

.btn-red:hover {
    color: #fff !important;
    background-color: #DF4E4E;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}

.icon {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.btn-darka {
    color: #494949 !important;
    border: 1px solid #494949;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2px;
}

.btn-darka:hover {
    color: #494949 !important;
    border: 1px solid #5F5F5F;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}

.btn-purplea {
    color: #494949 !important;
    border: 1px solid #82368C;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2px;
}

.btn-purplea:hover {
    color: #494949 !important;
    border: 1px solid #82368C;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}

.btn-graya {
    color: #bfc2c5 !important;
    border: 1px solid #bfc2c5;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2px;
}

.btn-graya:hover {
    color: #bfc2c5 !important;
    border: 1px solid #B8B8B8;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}

.btn-reda {
    color: #ea6060 !important;
    border: 1px solid #ea6060;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2px;
}

.btn-reda:hover {
    color: #ea6060 !important;
    border: 1px solid #DF4E4E;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus { 
     outline: none !important; 
     outline-offset: 0px !important; 
     outline-color: transparent !important;
}

/***************************
******** Form fields ********
***************************/

input[type="file"] {
    width: 100%;
    display: block;
    color: #494949 !important;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 10px 16px;
    line-height: 1.33;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    margin-top: 10px;
    background-color: #ffffff;
}

#div_id_image > .controls {
    margin-top: 10px;
}

.progress-bar {
    background-color: #82368C !important;
}


/***************************
******** Account Pages ********
***************************/

.auth-box {
    border: 1px solid #fff;
    background-color: #fff;
    padding: 20px;
}

.form-padding {
    padding: 20px;
}

/***************************
******** Footer ********
***************************/


/* Responsive Media Query */
@media only screen and (min-width: 1200px) { 
    .container { width: 960px }
}