    <!--   <div class="container">
        <div class="col-md-12 text-center">
          <ul class="pagination pagination-lg">
            <li>{% if object_list.has_previous %}
              <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a>
              {% endif %}
            </li>
            <li>
              <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
              </span>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>{% if object_list.has_next %}
              <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a>
                {% endif %}
            </li>
          </ul>
        </div>
      </div> -->