{% extends "base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block content %}

  <div class="space"></div> <!-- 40px Vertical Spacing -->

  <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="text-center">

              <div class="space"></div> <!-- 40px Vertical Spacing -->
              
              <div class="search-box">
                <form method="GET" action="">
                    <input type="text" placeholder="&#xF002;" style="font-family:Arial, FontAwesome" name="q" class="form-control input-lg" value="{{ request.GET.q }}"><br/>
                    <a href="{% url 'timeline:list' %}">Clear search results</a>
                    <!-- <button type="submit" class="btn btn-purple searchBtn"><i class="fa fa-search"></i></button> -->
                </form>
              </div>
          </div>
      </div>
    </div>
  </div>

  <!-- Timeline -->
  <section id="timeline">

  {% for obj in object_list %}
  <div class="space"></div> <!-- 40px Vertical Spacing -->
  <div class="container"> <!-- Container Fluid-->

    <div class="row">
      <div class="col-md-12">
        <h1 style="text-decoration: underline;">{{ obj.title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-left">
        {{ obj.timestamp }}
      </div>
      <div class="col-md-6 text-right">
        Tags <i>{{obj.tags.all|join:", "}}</i>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="timeline">
            {% if obj.image %}
             <img src='{{ obj.image.url }}' class='img-responsive' />
            {% endif %}
        </div>
      </div>
    </div>
  </div>

    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <a class="btn btn-block btn-lg btn-purplea" style="cursor: default; text-transform: none;">
            {% if obj.comments.count == 0 %}
            No Comments
            {% elif obj.comments.count == 1 %}
            {{ obj.comments.count }} Comment
            {% else %}
            {{ obj.comments.count }} Comments
            {% endif %}
          </a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-block btn-lg btn-purplea" style="cursor: default; text-transform: none;">Photographer: {{ obj.user }}</a>
        </div>
        <div class="col-md-2">
          <a href="{{ obj.get_absolute_url }}" class="btn btn-block btn-lg btn-dark" role="button">View <i class="fa fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
          <!-- <a class="btn btn-block btn-lg btn-purplea" style="cursor: default; text-transform: none;">
            {{ obj.content|truncatechars:50 }}
          </a> -->
    <div class="space"></div> <!-- 40px Vertical Spacing -->
  {% endfor %}
  </div>

  </section>

  <div class="space"></div> <!-- 40px Vertical Spacing -->

  <div class="container">
    <div class="col-md-12 text-center">
      <ul class="pagination pagination-lg">
        <li>{% if object_list.has_previous %}
          <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a>
          {% endif %}
        </li>
        <li>
          <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
          </span>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>{% if object_list.has_next %}
          <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a>
            {% endif %}
        </li>
      </ul>
    </div>
  </div>

{% endblock content %}