{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% load i18n %}


{% block content %}

	<div class="space"></div> <!-- 40px Vertical Spacing -->

		<div class="container">
			<div class="col-md-6 col-md-offset-3 auth-box">
				<div class="text-center">
					<h1>New Photo</h1>
				</div>
					<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
						{{ form | crispy }}
						<br/>
						<input type='submit' class='btn btn-block btn-lg btn-dark' value='Upload' />
					</form>
				</div>
			</div>
		</div>

{% endblock content %}

<!-- {% block scripts %}
<script src="{% static 'js/bootstrap-uploadprogress.js' %}"></script>

<script>
  $("#form").uploadprogress({
    	redirect_url: "/"
  });
</script>
{% endblock %} -->