	 	<!--<div class="row">
	 		<div class="col-xs-4 col-sm-2 col-md-2">
				<span class="btn btn-block btn-purplea" style="cursor: default; text-transform: none;">Share</span>
			</div>
			<div class="col-xs-3 col-sm-2 col-md-1">
				<a class="btn btn-block btn-graya btn-comment" href="#comments" data-toggle="tooltip" data-placement="bottom" title="Comments" data-original-title="Comments">
				    <span><i class="fa fa-comment" style="color: #FF9B37;"></i></span>
				</a>
			</div>
			<div class="col-xs-3 col-sm-2 col-md-1">
				<a class="btn btn-block btn-darka btn-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" onclick="window.open(this.href,'facebook-share-dialog','width=626,height=436');return false;" data-toggle="tooltip" data-placement="bottom" title="Facebook" data-original-title="Facebook">
				    <span><i class="fa fa-facebook-square" style="color: #004088;"></i></span>
				</a>
			</div>
			<div class="col-xs-3 col-sm-2 col-md-1">
				<a class="btn btn-block btn-darka btn-twitter" target="_blank" href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}" onclick="window.open(this.href,'twitter-share-dialog','width=626,height=436');return false;" data-toggle="tooltip" data-placement="bottom" title="Twitter" data-original-title="Twitter">
				   <span><i class="fa fa-twitter-square" style="color: #49A8DE;"></i></span>
				</a>
			</div>
			<div class="col-xs-3 col-sm-2 col-md-1">
				<a class="btn btn-block btn-darka btn-whatsapp hidden-btn-whatsapp" href="whatsapp://send?text={{ title }}%20{{ request.build_absolute_uri }}" target="_blank" data-text="{{ title }} " data-href="{{ request.build_absolute_uri }}" data-toggle="tooltip" data-placement="bottom" title="WhatsApp" data-original-title="WhatsApp"><span><i class="fa fa-whatsapp" style="color: #43D854;"></i></span></a>
			</div>
		</div>-->